## Part 1: A quick tour of Jupyter notebooks

theklfbleri

In [11]:
# Basic "unit" is a cell

Cells can be code or text (markdown)

In [12]:
# How do we execute a line of code?

In [22]:
def odd(number):
    if (number%2 !=0):
        print(number)
    else:
        print("not odd number")

In [25]:
odd(0)

not odd number

In [13]:
# TODO: Write some code to compute the value of 3+3
3+3

# We can store variables

6

In [19]:
# TODO: Make a variable called myDog and assign it the value "Laika"
myDog= "Laika"

In [20]:
myDog

'Laika'

In [21]:
# We can view the variable directly, or print it out
print(myDog)

Laika

In [17]:
is_my_dog_awesome("Jacky")

NameError: name 'is_my_dog_awesome' is not defined

In [ ]:
# We can also write functions and execute them

# TODO: Write a function that accepts a string and then does something, anything, with it
def is_my_dog_awesome(dog):
    if dog=="Laika":
        print("yes")
    else:
        print("idk")

In [63]:
# TODO: Write code that calls the function you just wrote and passes in the variable myDog
is_my_dog_awesome= {"f":"Tu", "t": "ahsuiegd"}

(is_my_dog_awesome.keys())

dict_keys(['f', 't'])

In [ ]:
# Remember...
# Order matters!
# You can execute a single cell, or run them all...
# You can also MOVE cells around... or insert cells anywhere
# And you can split cells...or merge them
# It can all get confusing... if you need a reset, you can always restart your Kernel

In [ ]:
# And we can import packages
# This can be packages we write ourselves, i.e. a .py file
# Or it can be packages we have installed on our computer (a bunch came with Anaconda)
# We'll be using numpy and pandas to start

# TODO: Write the code you need to import Numpy and Pandas
# Note: np and pd are shorthand, and they are conventions (you could call them whatever you want)
import numpy as np
import pandas as pd
np_baseball=100
np_football=50
#np_baseball=np.array(np_baseball)
#np_football=np.array(np_football)
np_sports= np_baseball*np_football
print(np_sports)

Note: I'll only be showing you some of the things Pandas can do -- to explore, **read the docs**!

Keep the [documentation](https://pandas.pydata.org/docs/index.html) handy. And remember, usually there are many, many ways to accomplish something.

## Part 2: Let's get some data!

### Let's import some data!
We'll be using data about the **cost of launching stuff into space** over time. It comes from [Our World in Data](https://ourworldindata.org/grapher/cost-space-launches-low-earth-orbit).

Go check out this link (always always seek out the source!). What do you notice?

In [ ]:
# Let's load in the data, which is in the form of a CSV file
import pandas as pd
# TODO: Write a line of code to import "cost-space-lauches.csv" and save it as a DataFrame called df_launch
# Note: Where is your CSV file, and do you have the correct file path?
df_launch= pd.read_csv("cost-space-launches.csv")

In [ ]:
# Now let's look at it
# What do you notice?
df_launch

In [ ]:
# How many columns? What are they?
# How many rows? What does each row represent?

# TODO: Write a line of code that displays the header
# TODO: Write a line of code that displays the first 10 rows

In [ ]:
# Let's get a summary
df_launch.describe()
#decsribes a data along with its count, mean, std, min and quartiles.

In [ ]:
# How do we select a single column?
df_launch.head(1)
#another way
column=df_launch["Entity"]

In [ ]:
# How do we select a single row?
#row=df_launch.iloc[2]
#another way
df_launch["Year"][2]

In [ ]:
# And how do we select value within the Year column?
df_launch["Year"]

In [ ]:
# TODO: Write a line of code to get the cost_per_kg colum

In [ ]:
# TODO: Write a line of code to get the 5th row

In [ ]:
# TODO: Write some code to get the launch_class of the 3rd row

In [ ]:
# Now, what TYPES are they?
# Type of the cost_per_kg column
print(type(df_launch["cost_per_kg"]))

In [ ]:
# Type of the 5th row
print(type(df_launch.iloc[5]))

In [ ]:
# Type of the launch_class of the 3rd row
#print(type(df_launch.iloc[3]))
type(df_launch["launch_class"][3])

In [ ]:
# Series are 1-dimensional arrays (basically lists)
# Invidiaul values (cells) can be any data type (strings, integers, floating points, even lists)

In [ ]:
# TODO: What (Python) types are the values in the other columns? 
# We can iterate over the columns in a dataframe!
for column in df_launch:
    print(column)
    print(type(df_launch[column][0]))

In [ ]:
# There's also an easy-peasy built in way with pandas using .dtypes...
df_launch.dtypes

In [ ]:
# Are you loving pandas yet??
# Another built in trick pandas has is .info()... let's try it
df_launch.info()
# info() tells how many non-empty cells are

In [ ]:
# What's going on with that "Code" column?
# It has NaN (Not a Number) as all its values -- this means missing data!

In [ ]:
type("Nan")

In [ ]:
# TODO: Make a new data frame that just has the columns we want (no Code column)
# We can select a specific subset of columns in a dataframe using a list of column names
new_df= df_launch[["Entity","Year","cost_per_kg","launch_class"]]
new_df

In [ ]:
# How do we count the values of the launch class?
new_df["launch_class"].value_counts

In [ ]:
# How would be convert cost per kilogram to cost per pound?
# TODO: Let's make a new column and do that...
# Remember, 1 kg = 2.2 pounds (lbs)
new_df["cost_per_lb"]=new_df["cost_per_kg"]/2.2
new_df

In [ ]:
# TODO: How do we sort to see what mission cost the most (per weight)? The least?
new_df["cost_per_kg"].sort_values(ascending=False)

In [ ]:
# Notice that this doesn't change the dataframe...

In [ ]:
# We can save the sorted dataframe as itself, or as a new one

## Part 3: CHALLENGE (if you finish early): 
Go to [Our World in Data](https://ourworldindata.org/) and find a data set that interests you.

Download the CSV file.

Load it into this notebook.

(1) What do you notice about how the data is organized?

(2) Can you sort the data in an interesting day?

(3) Can you calculate a new column that is useful?

In [ ]:
# TODO: Your code here....

### At the end of class, make sure to upload this .ipynb file to Canvas and submit the check in!